body {
	background-color: red;
	font-family: 'Lato', sans-serif;
}

#tabfloat {
	float: right;
}

#floatleft{
	float: left;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.header h2{
	margin: 0;
}